body {
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  display: flex;
  padding: 1rem;
  margin: 0;
}

html, body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
    outline: none;  
}

h1 {
  margin: 0 0 1.5rem 0;
}

.drag-and-drop-area {
  width: 100%;
  height: 100%;
  border: 2px dashed #aaa;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
}

.drag-and-drop-area .processing-message,
.drag-and-drop-area .error-message,
.drag-and-drop-area .stack-trace,
.drag-and-drop-area.error .default-message,
.drag-and-drop-area.error-detailed .default-message,
.drag-and-drop-area.processing .default-message,
.drag-and-drop-area.processing .error-message,
.drag-and-drop-area.processing .error-details-button,
.drag-and-drop-area.error-detailed .error-details-button {
  display: none;
}

.drag-and-drop-area.processing .processing-message,
.drag-and-drop-area.error .error-message,
.drag-and-drop-area.error-detailed .error-message,
.drag-and-drop-area.error-detailed .stack-trace {
  display: block;
}

.drag-and-drop-area.dragging {
  border-color: #888;
  background: #efefef;
}

.drag-and-drop-area.processing {
  pointer-events: none;
}

.drag-and-drop-area p {
  margin-top: 1.5rem;
  color: #555;
  font-size: 1.5rem;
  line-height: 2rem;
}

.drag-and-drop-area .error-details-button {
  margin-top: 1.5rem;
  font-size: 1rem;
  cursor: pointer;
}

.drag-and-drop-area .stack-trace {
  margin-top: 2rem;
  font-size: 0.8rem;
  font-family: Menlo, Consolas, "Liberation Mono", Courier, monospace;
  line-height: 1.1rem;
  text-align: left;
}